/* Calendar styling */
.blog-section .container{
    min-width: 80vw;
}

div[name="huone_kalenteri_css"] {
    max-height: 67em;
}

div[name="huone_kalenteri_css"] .fc-timegrid-slots table tbody tr{
    height: 2.5em;
}

div[name="huone_kalenteri_css"] table {
    background-color: transparent;
    text-decoration: none;
}

div[name="huone_kalenteri_css"] .fc-day {
    border-color: #ddd;
}

div[name="huone_kalenteri_css"] .fc-timegrid-slot {
    background-color: transparent;
}

div[name="huone_kalenteri_css"] .fc-header-toolbar button{
    background-color: #5baa00;
}

div[name="huone_kalenteri_css"] .fc-scrollgrid-section.fc-scrollgrid-section-header {
    max-height: 32px;
}

div[name="huone_kalenteri_css"] .fc-scrollgrid-section.fc-scrollgrid-section-header .fc-scroller-harness {
    max-height: 32px;
}

/* Event styling ######################################################## */
div[name="huone_kalenteri_css"] .fc-event-title-container {
    overflow-y: auto;
    overflow-x: hidden;
}

div[name="huone_kalenteri_css"] .huone-event-title {
    text-overflow: ellipsis;
    text-align: center;
    margin-bottom: 0.5em;
    margin-top: 0.1em;
}

div[name="huone_kalenteri_css"] .huone-event-title h3{
    font-weight: bold;
    margin: 0;
}

div[name="huone_kalenteri_css"] .huone-event-title p{
    margin: 0;
    font-size: 0.8em;
}


div[name="huone_kalenteri_css"] .huone-event-content {
    padding: 0.2em;
    border-top: 1px solid white;
}

div[name="huone_kalenteri_css"] .huone-event-varaaja {
    border-top: 1px solid white;
    margin-top: 0.5em;
    font-style: italic;
    font-size: 1.3em;
    text-decoration: underline;
}

div[name="huone_kalenteri_css"] .fc-event-title-container .fc-event-title {
    display: none;
}

/* Base Styles */
.hkBaseText {
    color: white;
}

.hkMinorText {
    color: black;
}

.varausBaseButton {
    margin: 5px;
    padding: 5px;

    border: 1px solid transparent;
    border-radius: 5px;
    transition: 0.3s;
    min-width: 45%;
}

.baseGreen {
    background-color: #5baa00;
}
.baseGreen:hover {
    background-color: #498701;
}

.baseRed {
    background-color: #d12c0a;
}

.baseRed:hover {
    background-color: #ad2307;
}

.baseFCButton {
    background-color: #5baa00;
    border-color: #2c3e50;
    color: white;
    font-size: 1.1em;
    font-weight: 400;
    line-height: 1.5;
    padding: 0.4em 0.64em;
}

.baseFCButton:hover {
    background-color: #1e2b37;
}


/* clickPopup styling ########################################################*/
#clickPopup {
    border-color: #2c3e50;
    border-radius: 5px;
    border-width: 2px;
    text-align: center;
    max-width: 14em;
}

#clickPopup button {
    margin: 5px;
    padding: 5px;

    border: 1px solid transparent;
    border-radius: 5px;
    transition: 0.3s;

    min-width: 30%;
}

#clickPopup #closeButton {
    background-color: #d0d0d6;
}

#clickPopup #closeButton:hover {
    background-color: #9e9ea3;
}

#clickPopup #deleteButton {
    background-color: #aa1c00;
}

#clickPopup #deleteButton:hover {
    background-color: #8a1801;
}

#clickPopup h4 {
    margin-top: 0;
    margin-bottom: 5px;
    color: dimgrey;
}

#clickPopup h2 {
    font-style: bold;
    margin-top: 0;
    margin-bottom: 10px;
}

#clickPopup p {
    font-style: italic;
}

#clickPopup #popContent {
    border-top: 1px dashed dimgray;
    border-bottom: 1px dashed dimgray;
    max-width: 100%;
    max-height: 5em;
    overflow-y: auto;
    margin-bottom: 0.5em;
}

#clickPopup #popContent p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

/* MOVE DIALOG ######################*/
.moveDialog {
    min-width: 200px;
    border-color: #2c3e50;
    border-radius: 5px;
    border-width: 2px;
    text-align: center;
}

.moveDialog button {
    margin: 5px;
    padding: 5px;

    border: 1px solid transparent;
    border-radius: 5px;
    transition: 0.3s;
    width: 40%;
}

.noButton {
    background-color: #aa1c00;
}

.noButton:hover {
    background-color: #8a1801;
}

.yesButton {
    background-color: #5baa00;
}

.yesButton:hover {
    background-color: #498701;
}


/* CREATEPOPUP*/
.createPopup {
    border-color: #2c3e50;
    border-radius: 5px;
    border-width: 2px;
    min-width: 35vw;
    /*text-align: center;*/
}

.createPopup .crPopDiv {
    border-bottom: 1px solid #2c3e50;
    margin-bottom: 1em;
    display: grid;
    grid-template-columns: 25% 75%;
}

.createPopup p {
    margin: 0.1em;
}

.createPopup input {
    margin-bottom: 0.3em;
}

.createPopup textarea {
    margin-bottom: 0.3em;
    resize: none;
}

.createPopup .crClock {
    display: flex;
}

.createPopup .crClock p {
    margin-left: 0.3em;
    margin-right: 0.3em;
}

.createPopup .btnContainer {
    border: none;
    display: grid;
    grid-template-columns: auto auto;
    margin-bottom: 0;
}

.btnContainer button {
    margin: 5px;
    padding: 5px;

    border: 1px solid transparent;
    border-radius: 5px;
    transition: 0.3s;

    min-width: 30%;
}

.createPopup h3 {
    text-align: center;
    margin-top: 0;
}

.createPopup select {
    margin-bottom: 0.3em;
}

/*SeriesPopup styling*/
.seriesPopup h1 {
    text-align: center;
}

.dualContainer {
    display: flex;
    grid-template-columns: 50% 50%;
}

.dualContainerPartial {
    /*outline: 1px solid coral;*/
    text-align: center;
    padding-right: 1em;
}

.dualContainerPartialB {
    border-left:  1px solid #2c3e50;;   
    padding-left: 1em;
    text-align: center;
}

.dualContainer .crPopDiv {
    /*border-bottom: 1px solid #2c3e50;*/
    margin-bottom: 1em;
    display: grid;
    grid-template-columns: 25% 75%;
}

.crRightDiv {
    display: flex;
}

.popTimeSpan {
    display: grid;
    grid-template-columns: 45% 10% 45%;
    margin-bottom: 1em;
}

.popDaySelect {
    display: flex;
    margin-bottom: 1em;
}

.popDaySelect div {
    margin: auto;
    border-bottom: 1px solid #2c3e50;
}

.crButtonContainer {
    display: grid;
    grid-template-columns: 50% 50%;
}